.axis-outer {
    stroke: rgb(82, 79, 79);
    stroke-width: 2px;
}

.axis-inner {
    stroke: rgb(82, 79, 79);
    stroke-width: 1.5px;
}

.link {
    stroke-opacity: 0.5;
    stroke-width: 1px;
    stroke-linecap: round;
    transition: all 0.3s ease;

}

.link-d {
    /* stroke-width: 5; */
    /* transition: all 0.3s ease; */
    stroke-linecap: round;

}

.radial-stroke {
    stroke: gray;
    stroke-dasharray: 4px;
    stroke-width: 1px;
    opacity: 0.5;
}

.tooltip {
    position: absolute;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 10px;
    border-radius: 8px;
    pointer-events: none;
    text-align: left;
    line-height: 1.5em;
    font-weight: bold;
}

.tooltipHL {
    position: absolute;
    padding: 1px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 10px;
    border-radius: 8px;
    pointer-events: none;
    text-align: left;
    line-height: 1.5em;
    font-weight: bold;
}

.link:hover {
    stroke-width: 10px;
    stroke-opacity: 1;
}

.link-d:hover{
    stroke-width: 10px;
    stroke-opacity: 1;
}

/* 修改gui的样式 */
.dg .c .slider-fg {
    background: #d6642f;
}

.dg .cr.number input[type=text] {
    color: #d6642f;
}

.counter-panel {
    position: absolute;
    right: 1em;
    bottom: 4.5em;
    min-width: 300px;
    text-align: center;
    font: 4em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(139, 139, 139);
    line-height: 1.5em;
}

#counter {
    font-size: 2.4em;
}

#gui {
    position: absolute;
    top: 150px;
    right: 100px
}

.link-d-HL{
    stroke-width: 1px;
}
